<div class="dropdown-menu">
  <button commandfor="dev-menu" command="toggle-popover" data-controller="tooltip" data-tooltip-content-value="Jumpstart Development" role="button" aria-label="Dev Menu">
    <svg width="24" height="24" viewBox="0 0 145 145" fill="current-color" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.4023 35.617L98.075 -6.07711e-05L133.692 74.6726L46.7793 144.854L33.3226 81.973L49.5515 70.5974L51.4888 95.4288L105.722 53.5318L64.9876 63.2436L63.3583 42.3598L28.8017 60.8477L23.4023 35.617Z" />
    </svg>
  </button>
  <nav id="dev-menu" popover class="menu-component">
    <ul class="menu-list">
      <li class="menu-section">
        <h2 class="menu-section-heading">Jumpstart</h2>
        <ul class="menu-sub-list">
          <li><%= link_to "Configuration", jumpstart_path(script_name: nil), data: { turbo: false } %></li>
          <li><%= link_to "Documentation", jumpstart.docs_path, target: :_blank, data: { turbo: false } %></li>
          <li><%= link_to 'Mailbin', mailbin_path(script_name: nil), target: :_blank, data: { turbo: false } %></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
